/.ptp-sync/
/.ptp-sync/
/.ptp-sync/
/Debug/
/Debug/
/.ptp-sync/
/Debug/
/.ptp-sync/
/Debug/
/.ptp-sync/
/Debug/
/.ptp-sync/
/Debug/
/Debug/
/.ptp-sync/
/Debug/
/.ptp-sync/
/Debug/
/Debug/
/Debug/
/Debug/
